<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>StartLight Js Plugin</title>
</head>
<body>
    <!-- Link plugin https://github.com/sergei1152/Starlight.js -->
    <header class="nav-area">
        <div class="menu-wrapper">
            <h2 class="logo"><a href="#">Alexanda</a></h2>
            <nav>
                <ul class="right-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="banner-area starlight">

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/starlight.js"></script>
</body>
</html>